a, img, em, b,
section, article, figure,
fieldset {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*==================================================================*/

.main-header {
  background-color: #1c5bc3;
  min-height: 77px;
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*==================================================================*/

.main-header__logo {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
}

.main-header__logo img {
  width: 121px;
  height: 37px;
}

/*==================================================================*/

.main-header__contacts {
  width: 181px;
  height: 47px;
  padding-top: 12px;
  padding-bottom: 16px;
  float: right;
  position: relative;
}

.main-header__phone {
  font-size: 21px;
  font-weight: 700;
  text-align: right;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
}

.main-header__contacts-schedule button{
  font-size: 14px;
  text-align: right;
  line-height: 21px;
  margin-left: 64px;
  color: #bbceed;
  display: inline-block;
  background-color:#1c5bc3;
  border: none;

  text-decoration: underline;
}

.main-header__contacts-schedule:hover {
  color: #ffffff;
}

.main-header__schedule {
  font-size: 14px;
  color: #221f1f;
  position: absolute;
  left: 13px;
  top: 67px;
  width: 126px;
  height: 46px;
  padding-top: 28px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 18px;
  z-index: 54;
  background-image: url("../img/contacts-background.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-header__schedule-open{
  color: #1c5bc3;
  font-weight: bold;
}

.main-header__schedule {
  display: none;
}
.main-header__contacts-schedule:hover .mainHeader__schedule {
  display: block;
}
/*==================================================================*/

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  /*background-color: grey;*/
}

/*==================================================================*/

.sidebar {
  float: left;
  width: 160px;
  margin: 0px;
  margin-right: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 45px;
  font-size: 12px;
  line-height: 54px;
  font-family: Roboto;
  color: #1c5bc3;
  /*background-color: pink;*/
}

.sidebar__navigation {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 54px;
  color: #1c5bc3;
  text-transform: uppercase;
  position: relative;
}

li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.sidebar__navigation li {
  line-height: 1.5;
  padding-bottom: 30px;
  padding-left: 36px;
  position: relative;
}

.sidebar-main::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 18px;
  height: 18px;
  background-size: 18px auto;
  background-image: url(../img/main_icon-blue.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sidebar-team::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 23px;
  height: 18px;
  background-size: 23px auto;
  background-image: url(../img/team_icon-blue.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sidebar-comments::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 23px;
  height: 21px;
  background-size: 23px auto;
  background-image: url(../img/feed_icon-blue.png);
  background-repeat: no-repeat;
  background-position: 0 0;

}

.sidebar-current {
  color: #221f1f;
}

.current-team::before {
  background-image: url(../img/team_icon-black.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.current-main::before {
  background-image: url(../img/main_icon-black.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.current-comments::before {
  background-image: url(../img/feed_icon-black.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*==================================================================*/

.main-content__team-page {
  width: 880px;
  margin: 0px;
  margin-left: 180px;
  padding: 0px;
  padding-top: 40px;
  /*background-color: lightgreen;*/
}

/*==================================================================*/

.breadcrumbs {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  color: #497ccf;
}

.breadcrumbs__link {
  text-decoration: underline;
  display: inline-block;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item-current {
  display: inline-block;
  color: #4e4c4c;
  padding-left: 8px;
  position: relative;
}

.breadcrumbs__item-current::before {
  content: "/";
  position: absolute;
  top: 0px;
  left: 0px;
}

/*==================================================================*/

.team-page__title{
  margin: 0px;
  padding: 0px;
  padding-top: 23px;
  font-family: Roboto;
  font-size: 49px;
  line-height: 38px;
  color: #221f1f;
}

/*==================================================================*/

.team-page__personal {
  margin: 0 auto;
  padding: 0px;
  padding-left: 10px;
  width: 870px;
  font-family: 'Roboto Light', arial;
  font-size: 14px;
  line-height: 18px;
  color: #221f1f;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 49px;
  vertical-align: top;
  /*background-color: yellow;*/

}

.personal__item {
 float: left;
 width:260px;
 height: 373px;
 margin-right:42px;
 margin-bottom:35px;
 /*background-color: grey;*/
}

.personal__item:nth-child(3n) {
  margin-right:0px;
  /*background-color: pink;*/
}

.personal__img-cover {
  margin: 0 auto;
  padding: 0px;
  width: 160px;
  height: 160px;
  margin-bottom: 16px;
  line-height: 20px;
}

.personal__img {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path:circle(50% at 50% 50%);
}

.personal__title {
  margin: 0px;
  padding: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  min-height:26px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 20px;
}

.personal__range{
  margin: 0px;
  padding: 0px;
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  color: #2b66c7;
  min-height:26px;
  margin-bottom: 0px;
}

.personal__description{
  min-height: 141px;
  /*background-color: red;*/

}

.cap {
  clear:both;
}

/*==================================================================*/

.main-footer {
  margin: 0 auto;
  padding: 0;
  margin-top: 65px;
  background-color: #1c5bc3;
  min-height: 77px;
}

/*==================================================================*/

.copyright {
  display: inline-block;
  width: 250px;
  font-family: Roboto;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  width: 33%;
  float: left;
  min-height: 100%;
  /*background-color: pink;*/
}

.copyright__link {
  display: inline-block;
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.copyright__text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyright__owner {
  display: inline-block;
  font-weight: bold;
}

/*==================================================================*/
.footer-logo {
  width: 33%;
  float: left;
  min-height: 100%;
}

.footer-logo__link {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 120px;
  /*background-color: lightgreen;*/
}

.footer-logo__img {
  width: 121px;
  height: 37px;
}

/*==================================================================*/
.col3 {
  width: 33%;
  float: right;
  min-height: 100%;
}

.footer-social {
  float: right;
  width: 160px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

}

.social-btns {
-webkit-padding-start: 0px;
margin: 0px;
padding: 0px;
}

.footer-social__title {
  font-size: 13px;
}

.social-btns__item {
  float: left;
  width: 22px;
  height: 22px;
  margin: 0px;
  padding: 0px;
  margin-right: 3px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
}

.social-btns__item:nth-child(5) {
  margin-right: 0px;
}

.social-btns__item:hover {
 background-color: #d2def3;
}

.social-button__img {
  position: absolute;
  top: 6px;
  left: 5px;
}

.social-button__img-vk {
  position: absolute;
  top: 7px;
  left: 4px;
}

.social-button__img-fb {
  position: absolute;
  top: 5px;
  left: 8px;
}

/*==================================================================*/

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*==================================================================*/

.main-content-main-page {
  padding: 0px;
  margin: 0px;
  /*-webkit-margin-after: 0px;
  -webkit-margin-before: 0px;*/
  margin-left: 180px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 26px;
  color: #221f1f;
}

.main-content-main-page p {
  margin-top: 23px;
}
/*==================================================================*/

.main-content__title-background {
  margin: 0px;
  padding: 0px;
  width: 879px;
  height: 355px;
  background-image: url(../img/main-background.jpg);
  background-repeat: no-repeat;
  background-position: 0px -78px;
}

.main-content__main-title{
  display: inline-block;
  margin: 0px;
  padding-top: 158px;
  padding-bottom: 122px;
  padding-left: 64px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  font-family: Roboto;
  font-size: 49px;
  line-height: 38px;
  color: #221f1f;
}

/*==================================================================*/

.main-content__about-AirPlanet {
  width: 700px;
  margin-bottom: 25px;
  /*background-color: pink;*/
}

.about-AirPlanet__customers li {
  font: inherit;
  list-style: disc outside;
}

.main-content__about-AirPlanet-companies {
  font-weight: bold;
}

/*==================================================================*/

.reservation {
  margin: 0px;
  color: #ffffff;
  background-color:#1c5bc3;
  padding-left: 30px;
  padding-right: 75px;
  padding-top: 13px;
  padding-bottom: 10px;
  margin-bottom: 71px;
  width: 595px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 30px;
}

.reservation__phone {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.reservation__btn {
font-size: 18px;
font-weight: 700;
line-height: 30px;
margin: 0px;
padding: 0px;
color: #ffffff;
display: inline-block;
background-color:#1c5bc3;
border: none;

text-decoration: underline;
}

/*==================================================================*/

.partners {
  width: 700px;
  height: 285px;
  /*background-color: grey;*/
}

.partners h2 {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  color: #221f1f;
  margin-bottom: 50px;
}

.partners-logo {
  margin: 0px;
  padding: 0px;
  width: 700px;
  height: 200px;
  /*background-color: lightblue;*/
}

.partners-logo li {
  float: left;
  margin-right: 115px;
  margin-bottom: 60px;
}

.partners-logo li:nth-child(3n) {
  margin-right:0px;
  /*background-color: pink;*/
}

/*==================================================================*/

.partners-logo__bmpCompany {
  width:159px;
  height:30px;
  position: relative;
}

.partners-logo__bmpCompany img{
  width:100%;
  position: absolute;
  top:15px;
  left:0px;
}

.partners-logo__bmpCompany-over {
  opacity: 100%;
  z-index: 30;

}

.partners-logo__bmpCompany-over:hover {
  opacity: 0;
}

/*==================================================================*/

.partners-logo__tetraInstall {
  width:161px;
  height:64px;
  position: relative;
}

.partners-logo__tetraInstall img{
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
}

.partners-logo__tetraInstall-over {
  opacity: 100%;
  z-index: 30;

}

.partners-logo__tetraInstall-over:hover {
  opacity: 0;
}

/*==================================================================*/

.partners-logo__sibAirlines {
  width:133px;
  height:64px;
  position: relative;
}

.partners-logo__sibAirlines img{
  width:100%;
  position: absolute;
  top:0px;
  left:5px;
}

.partners-logo__sibAirlines-over {
  opacity: 100%;
  z-index: 30;
}

.partners-logo__sibAirlines-over:hover {
  opacity: 0;
}

/*==================================================================*/

.partners-logo__oneAir {
  width:159px;
  height:63px;
  position: relative;
}

.partners-logo__oneAir img{
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
}

.partners-logo__oneAir-over {
  /*opacity: 100%;*/
  z-index: 30;
}

.partners-logo__oneAir-over:hover {
  opacity: 0;
}

/*==================================================================*/

.partners-logo__BingAir {
  width:161px;
  height:64px;
  position: relative;
}

.partners-logo__BingAir img{
  /*width:100%;*/
  position: absolute;
  top:0px;
  left:60px;
}

.partners-logo__BingAir-over {
  opacity: 100%;
  z-index: 30;
}

.partners-logo__BingAir-over:hover {
  opacity: 0;
}

/*==================================================================*/

.partners-logo__Ural {
  width:133px;
  height:64px;
  position: relative;
}

.partners-logo__Ural img{
  position: absolute;
  top:0px;
  left:30px;
}

.partners-logo__Ural-over {
  opacity: 100%;
  z-index: 30;
}

.partners-logo__Ural-over:hover {
  opacity: 0;
}

/*==================================================================*/

.main-content-comments-page {
  width: 880px;
  margin: 0px;
  margin-left: 180px;
  padding: 0px;
  padding-top: 40px;
  margin-bottom: 75px;
  /*background-color: lightgreen;*/
}

/*==================================================================*/

.comments {
  margin: 0px;
  padding: 0px;
  margin-top: 50px;
}

.comments-item {
  margin: 0px;
  padding: 0px;
  height: 160px;
  margin-bottom: 30px;
}

.comments-item:last-child {
  margin-bottom: 50px;
}

.comments-item__avatar {
  float: left;
  width: 160px;
  height: 160px;
  }

.comments-item__avatar img {
  display: block;
  width: 100%;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path:circle(50% at 50% 50%);
}

.comments-item-text{
  margin-left: 180px;
  font-family: 'Roboto Light', arial;
  font-size: 18px;
  line-height: 28px;
}

.comments-item-text__date {
  font-size: 14px;
  line-height: 18px;
  color: #b7b7b7;
}

.comments-item-text__author {
  font-weight: bold;
  line-height: 38px;
}

.comments-item-text__message {
  line-height: 25px;
}

.comments__grey-border {
  width: 880px;
  border-top: 2px solid #f5f5f5;
  margin-bottom: 30px;
}

/*==================================================================*/

.pagination {
  font-family: 'Roboto Light', arial;
  font-size: 14px;
  line-height: 18px;
  margin-left: 220px;
  color: #656464;
  margin-bottom: 55px;
}

.pagination__description {
  display: inline-block;

}

.pagination__list {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-left: 15px;

}

.pagination__item {
  display: inline-block;
  font-weight: bold;
  color: #221f1f;
  margin-right: 18px;
}

.pagination__link{
  display: inline-block;
  font: inherit;
  color: inherit;
}

.pagination__item-current {
  width: 25px;
  height: 22px;
  padding-top: 3px;
  background-color: #1c5bc3;
  border-radius: 10%;
  color: #ffffff;
  text-align: center;
  margin-right: 10px;
}

.pagination__item-disabled {
  color: #bdbcbc;
}

/*==================================================================*/

.comments-form {
  width: 560px;
  height: 324px;
  padding: 29px 70px;
  background-color: #f5f5f5;
  margin: 0 auto;
  font-family: 'Roboto Light', arial;
}

.comments-form__header {
  margin: 0px;
  padding: 0px;
  /*background-color: pink;*/
  font-size: 49px;
  line-height: 38px;
}

.comments-form__form {
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  font-family: 'Roboto Light', arial;
  font-size: 14px;

}

.comments-form__user-data {
    margin-bottom: 20px;
}

.comments-form__item {
  margin: 0px;
  padding: 0px;
  width: 270px;
  /*height: 70px;*/
  display: inline-block;
}

.comments-form__user-data > .comments-form__item:nth-child(1) {
  margin-right: 15px;
  /*background-color: yellow;*/
}

.comments-form__textinput {
  margin: 0px;
  padding: 0px;
  width: 260px;
  margin-top: 10px;
  height: 50px;
  color: #a9a8a8;
  padding-left: 10px;
  border: none;
  font-size: 14px;


}

label {
  margin: 0px;
  padding: 0px;
}

.comments-form__message {
  margin-bottom: 10px;
}

.comments-form__textarea {
  width: 545px;
  height: 90px;
  padding-left: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  resize: none;
  font-size: 14px;

}

.filter-option {
  display: inline-block;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.radio-filter {
  margin: 0px;
  padding: 0px;
}

.filter-option {
  width: 65px;

}

.comments-form__photo-information {
  display: inline-block;
}

.comments-form__button {
  float: right;
  position: relative;
    display: inline-block;
    background-color: #1c5bc3;
    border: 1px solid #1c5bc3;
    border-radius: 5px;
    height: 45px;
    width: 154px;
    vertical-align: middle;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.radio-button {
  width: 18px;
    height: 18px;
    border: 1px solid #cacaca;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 0 0;
    position: relative;

}

.radio-button-checked {
  border: 1px solid #356dc8;
}

.radio-button-active {
  position: absolute;
    width: 6px;
    height: 6px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #356dc8;
    border: 1px solid #356dc8;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 0;
    vertical-align: middle;
}

.filter-radio {

}

.filter-radio-display {
  color: #356dc8;

}
