a, img, em, b,
section, article, figure,
fieldset {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*==================================================================*/

.wrapper {
  margin: 0 auto;
  padding: 0;
}

.main-header {
  background-color: #1c5bc3;
  min-height: 77px;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*==================================================================*/

.main-logo {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
}

.main-logo img {
  width: 121px;
  height: 37px;
}

/*==================================================================*/

.contacts {
  width: 181px;
  height: 75px;
  padding-top: 12px;
  padding-bottom: 16px;
  float: right;
  position: relative;
}

.phone {
  font-size: 21px;
  text-align: right;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
}

.contacts-schedule {
  font-size: 14px;
  text-align: right;
  line-height: 21px;
  color: #bbceed;

  text-decoration: underline;
}

.contacts-schedule:hover {
  color: #ffffff;
}

.schedule {
  font-size: 14px;
  color: #221f1f;
  position: absolute;
  left: 13px;
  top: 67px;
  width: 126px;
  height: 46px;
  padding-top: 28px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 18px;
  z-index: 54;
  background-image: url("../img/contacts-background.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.schedule b{
  color: #1c5bc3;
}

.schedule {
  display: none;
}
.contacts-schedule:hover .schedule {
  display: block;
}
/*==================================================================*/

main {
  max-width: 1060px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  /*background-color: grey;*/
}

/*==================================================================*/

nav {
  float: left;
  width: 160px;
  margin: 0px;
  margin-right: 20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 45px;
  font-size: 12px;
  line-height: 54px;
  font-family: Roboto;
  color: #1c5bc3;
  /*background-color: pink;*/
}

.sidebar-navigation {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 54px;
  color: #1c5bc3;
  text-transform: uppercase;
  position: relative;
}

li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.sidebar-navigation li {
  line-height: 1.5;
  padding-bottom: 30px;
}

.sidebar-navigation li {
  padding-left: 36px;
  position: relative;
}

.sidebar-main::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 18px;
  height: 18px;
  background-size: 18px auto;
  background-image: url(../img/main_icon-blue.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sidebar-team::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 23px;
  height: 18px;
  background-size: 23px auto;
  background-image: url(../img/team_icon-blue.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sidebar-comments::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 23px;
  height: 21px;
  background-size: 23px auto;
  background-image: url(../img/feed_icon-blue.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sidebar-current {
  color: #221f1f;
}

.current-team::before {
  background-image: url(../img/team_icon-black.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.current-main::before {
  background-image: url(../img/main_icon-black.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.current-comments::before {
  background-image: url(../img/feed_icon-black.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*==================================================================*/

.main-content {
  width: 880px;
  margin: 0px;
  margin-left: 180px;
  padding: 0px;
  padding-top: 40px;
  /*background-color: lightgreen;*/
}

/*==================================================================*/

.breadcrumbs {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  color: #497ccf;
}

.breadcrumbs a {
  text-decoration: underline;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs-current {
  color: #4e4c4c;
  padding-left: 8px;
  position: relative;
}

.breadcrumbs-current::before {
  content: "/";
  position: absolute;
  top: 0px;
  left: 0px;
}

/*==================================================================*/

.main-title{
  margin: 0px;
  padding: 0px;
  padding-top: 23px;
  font-family: Roboto;
  font-size: 49px;
  line-height: 38px;
  color: #221f1f;
}

/*==================================================================*/

.personal {
  margin: 0 auto;
  padding: 0px;
  padding-left: 10px;
  width: 870px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  color: #221f1f;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 49px;
  vertical-align: top;
  /*background-color: yellow;*/

}

.personal-item {
 float: left;
 width:260px;
 height: 373px;
 margin-right:42px;
 margin-bottom:35px;
 /*background-color: grey;*/
}

.personal-item:nth-child(3n) {
  margin-right:0px;
  /*background-color: pink;*/
}

.personal-img {
  margin: 0 auto;
  padding: 0px;
  width: 160px;
  height: 160px;
  margin-bottom: 16px;

}

.personal-item h2{
  margin: 0px;
  padding: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  min-height:26px;
  margin-bottom: 0px;
  font-size: 16px;
}

.personal-item b{
  margin: 0px;
  padding: 0px;
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  color: #2b66c7;
  min-height:26px;
  margin-bottom: 0px;
}

.description{
  min-height: 141px;
  /*background-color: red;*/

}

.cap {
  clear:both;
}

/*==================================================================*/

.main-footer {
  margin-top: 65px;
  background-color: #1c5bc3;
  min-height: 77px;
}

/*==================================================================*/

.copyright {
  display: inline-block;
  width: 250px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  /*background-color: pink;*/
}

.copyright-link {
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.copyright p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.copyright a {
  display: inline-block;
}

.copyright b {
  display: inline-block;
}

/*==================================================================*/

.footer-logo {
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 120px;
  /*background-color: lightgreen;*/
}

.footer-logo img {
  width: 121px;
  height: 37px;
}

/*==================================================================*/

.footer-social {
  float: right;
  width: 160px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social ul {
-webkit-padding-start: 0px;
margin: 0px;
padding: 0px;
}

.footer-social h3 {
  font-size: 14px;
}

.social-item {
  float: left;
  width: 22px;
  height: 22px;
  margin: 0px;
  padding: 0px;
  margin-right: 8px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
}

.social-item:nth-child(5) {
  margin-right: 0px;
}

.social-item:hover {
 background-color: #d2def3;
}

.social-button img {
  position: absolute;
  top: 6px;
  left: 5px;
}

.social-button-vk img {
  top: 7px;
  left: 4px;
}

.social-button-fb img {
  top: 5px;
  left: 8px;
}

/*==================================================================*/

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.col1 {
  width: 33%;
  float: left;
  min-height: 100%;
}
.col2 {
  width: 33%;
  float: left;
  min-height: 100%;
}
.col3 {
  width: 33%;
  float: right;
  min-height: 100%;
}
